## Initialisierug

In [1]:
from pathlib import Path
from scipy import stats

import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import seaborn as sns

np.set_printoptions(suppress=True)

pd.options.display.max_columns = None
pd.options.display.max_rows = None
pd.options.display.max_colwidth = None

from IPython.display import display

## Einlesen der Rohdaten

In [2]:
path1 = Path(r"A:\Workspace\Python\Masterarbeit\Kaggle Home Credit Datensatz")
path2 = Path(r"C:\Users\rober\Documents\Workspace\Python\Masterarbeit\Kaggle Home Credit Datensatz")

if path1.is_dir():
    DATASET_DIR = path1
else:
    DATASET_DIR = path2

In [3]:
app_test = pd.read_csv(DATASET_DIR / "application_test.csv")
app_train = pd.read_csv(DATASET_DIR / "application_train.csv")
bureau = pd.read_csv(DATASET_DIR / "bureau.csv")
bureau_balance = pd.read_csv(DATASET_DIR / "bureau_balance.csv")
credit_card_balance = pd.read_csv(DATASET_DIR / "credit_card_balance.csv")
installments_payments = pd.read_csv(DATASET_DIR / "installments_payments.csv")
pcb = pd.read_csv(DATASET_DIR / "POS_CASH_balance.csv")
previous_application = pd.read_csv(DATASET_DIR / "previous_application.csv")

description = pd.read_csv(DATASET_DIR / "HomeCredit_columns_description.csv", encoding="latin", index_col=0)

## Zusammenfassung aller Datens√§tze

In [4]:
tables = {
    "app_test": app_test,
    "app_train": app_train, 
    "bureau": bureau,
    "bureau_balance": bureau_balance, 
    "credit_card_balance": credit_card_balance, 
    "installments_payments": installments_payments, 
    "pcb": pcb,
    "previous_application": previous_application
}

## Sprechende Target Variablen

In [5]:
app_train["TARGET"].replace(
    {
        0: "Payback",
        1: "Default"
    }, inplace = True
)

## Datenkategorisierung Nominal, Metrisch, Metrisch Stetig, Metrisch Diskret

# (1) app_train

In [6]:
app_train.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,OWN_CAR_AGE,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,ORGANIZATION_TYPE,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,APARTMENTS_AVG,BASEMENTAREA_AVG,YEARS_BEGINEXPLUATATION_AVG,YEARS_BUILD_AVG,COMMONAREA_AVG,ELEVATORS_AVG,ENTRANCES_AVG,FLOORSMAX_AVG,FLOORSMIN_AVG,LANDAREA_AVG,LIVINGAPARTMENTS_AVG,LIVINGAREA_AVG,NONLIVINGAPARTMENTS_AVG,NONLIVINGAREA_AVG,APARTMENTS_MODE,BASEMENTAREA_MODE,YEARS_BEGINEXPLUATATION_MODE,YEARS_BUILD_MODE,COMMONAREA_MODE,ELEVATORS_MODE,ENTRANCES_MODE,FLOORSMAX_MODE,FLOORSMIN_MODE,LANDAREA_MODE,LIVINGAPARTMENTS_MODE,LIVINGAREA_MODE,NONLIVINGAPARTMENTS_MODE,NONLIVINGAREA_MODE,APARTMENTS_MEDI,BASEMENTAREA_MEDI,YEARS_BEGINEXPLUATATION_MEDI,YEARS_BUILD_MEDI,COMMONAREA_MEDI,ELEVATORS_MEDI,ENTRANCES_MEDI,FLOORSMAX_MEDI,FLOORSMIN_MEDI,LANDAREA_MEDI,LIVINGAPARTMENTS_MEDI,LIVINGAREA_MEDI,NONLIVINGAPARTMENTS_MEDI,NONLIVINGAREA_MEDI,FONDKAPREMONT_MODE,HOUSETYPE_MODE,TOTALAREA_MODE,WALLSMATERIAL_MODE,EMERGENCYSTATE_MODE,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_10,FLAG_DOCUMENT_11,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,Default,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,351000.0,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.018801,-9461,-637,-3648.0,-2120,NaN,1,1,0,1,1,0,Laborers,1.0,2,2,WEDNESDAY,10,0,0,0,0,0,0,Business Entity Type 3,0.083037,0.262949,0.139376,0.0247,0.0369,0.9722,0.6192,0.0143,0.00,0.0690,0.0833,0.1250,0.0369,0.0202,0.0190,0.0000,0.0000,0.0252,0.0383,0.9722,0.6341,0.0144,0.0000,0.0690,0.0833,0.1250,0.0377,0.022,0.0198,0.0,0.0,0.0250,0.0369,0.9722,0.6243,0.0144,0.00,0.0690,0.0833,0.1250,0.0375,0.0205,0.0193,0.0000,0.00,reg oper account,block of flats,0.0149,"Stone, brick",No,2.0,2.0,2.0,2.0,-1134.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,Payback,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,1129500.0,Family,State servant,Higher education,Married,House / apartment,0.003541,-16765,-1188,-1186.0,-291,NaN,1,1,0,1,1,0,Core staff,2.0,1,1,MONDAY,11,0,0,0,0,0,0,School,0.311267,0.622246,NaN,0.0959,0.0529,0.9851,0.7960,0.0605,0.08,0.0345,0.2917,0.3333,0.0130,0.0773,0.0549,0.0039,0.0098,0.0924,0.0538,0.9851,0.8040,0.0497,0.0806,0.0345,0.2917,0.3333,0.0128,0.079,0.0554,0.0,0.0,0.0968,0.0529,0.9851,0.7987,0.0608,0.08,0.0345,0.2917,0.3333,0.0132,0.0787,0.0558,0.0039,0.01,reg oper account,block of flats,0.0714,Block,No,1.0,0.0,1.0,0.0,-828.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,Payback,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,135000.0,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.010032,-19046,-225,-4260.0,-2531,26.0,1,1,1,1,1,0,Laborers,1.0,2,2,MONDAY,9,0,0,0,0,0,0,Government,NaN,0.555912,0.729567,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,-815.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,Payback,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,297000.0,Unaccompanied,Working,Secondary / secondary special,Civil marriage,House / apartment,0.008019,-19005,-3039,-9833.0,-2437,NaN,1,1,0,1,0,0,Laborers,2.0,2,2,WEDNESDAY,17,0,0,0,0,0,0,Business Entity Type 3,NaN,0.650442,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,0.0,2.0,0.0,-617.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,Payback,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,513000.0,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.028663,-19932,-3038,-4311.0,-3458,NaN,1,1,0,1,0,0,Core staff,1.0,2,2,THURSDAY,11,0,0,0,0,1,1,Religion,NaN,0.322738,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,-1106.0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

#### Tabellenbeschreibungen

In [7]:
d = description.loc[description['Table']=="application_{train|test}.csv", "Row":"Special"]
d[d['Row'].str.match('DAY')]

,Row,Description,Special
20,DAYS_BIRTH,Client's age in days at the time of application,time only relative to the application
21,DAYS_EMPLOYED,How many days before the application the person started current employment,time only relative to the application
22,DAYS_REGISTRATION,How many days before the application did client change his registration,time only relative to the application
23,DAYS_ID_PUBLISH,How many days before the application did client change the identity document with which he applied for the loan,time only relative to the application
98,DAYS_LAST_PHONE_CHANGE,How many days before application did client change phone,NaN

#### Datenaufbereitung

* Transformation Tage in Jahre
* Vorzeichenwechsel
* Anpassung Tabellenbezeichnung

In [36]:
# Tage in Jahre
# Vorzeichenanpassung

df = app_train

times_heads = [head for head in df.columns if "DAYS" in head]
for head in times_heads:
    df[head] /= -365

#### DAYS_BIRTH

In [37]:
app_train.rename(
    columns = {'DAYS_BIRTH':'AGE'}, inplace=True
)

#### DAYS_EMPLOYED

In [38]:
app_train.rename(
    columns = {'DAYS_EMPLOYED':'YEARS_EMPLOYED'}, inplace=True
)

#### DAYS_REGISTRATION

In [39]:
app_train.rename(
    columns = {'DAYS_REGISTRATION':'YEARS_REGISTRATION'}, inplace=True
)

#### DAYS_ID_PUBLISH

In [40]:
app_train.rename(
    columns = {'DAYS_ID_PUBLISH':'YEARS_ID_PUBLISH'}, inplace=True
)

#### DAYS_LAST_PHONE_CHANGE

In [41]:
app_train.rename(
    columns = {'DAYS_LAST_PHONE_CHANGE':'YEARS_LAST_PHONE_CHANGE'}, inplace=True
)

### app_test

In [42]:
app_test.head()

,SK_ID_CURR,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,OWN_CAR_AGE,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,ORGANIZATION_TYPE,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,APARTMENTS_AVG,BASEMENTAREA_AVG,YEARS_BEGINEXPLUATATION_AVG,YEARS_BUILD_AVG,COMMONAREA_AVG,ELEVATORS_AVG,ENTRANCES_AVG,FLOORSMAX_AVG,FLOORSMIN_AVG,LANDAREA_AVG,LIVINGAPARTMENTS_AVG,LIVINGAREA_AVG,NONLIVINGAPARTMENTS_AVG,NONLIVINGAREA_AVG,APARTMENTS_MODE,BASEMENTAREA_MODE,YEARS_BEGINEXPLUATATION_MODE,YEARS_BUILD_MODE,COMMONAREA_MODE,ELEVATORS_MODE,ENTRANCES_MODE,FLOORSMAX_MODE,FLOORSMIN_MODE,LANDAREA_MODE,LIVINGAPARTMENTS_MODE,LIVINGAREA_MODE,NONLIVINGAPARTMENTS_MODE,NONLIVINGAREA_MODE,APARTMENTS_MEDI,BASEMENTAREA_MEDI,YEARS_BEGINEXPLUATATION_MEDI,YEARS_BUILD_MEDI,COMMONAREA_MEDI,ELEVATORS_MEDI,ENTRANCES_MEDI,FLOORSMAX_MEDI,FLOORSMIN_MEDI,LANDAREA_MEDI,LIVINGAPARTMENTS_MEDI,LIVINGAREA_MEDI,NONLIVINGAPARTMENTS_MEDI,NONLIVINGAREA_MEDI,FONDKAPREMONT_MODE,HOUSETYPE_MODE,TOTALAREA_MODE,WALLSMATERIAL_MODE,EMERGENCYSTATE_MODE,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_10,FLAG_DOCUMENT_11,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100001,Cash loans,F,N,Y,0,135000.0,568800.0,20560.5,450000.0,Unaccompanied,Working,Higher education,Married,House / apartment,0.018850,-19241,-2329,-5170.0,-812,NaN,1,1,0,1,0,1,NaN,2.0,2,2,TUESDAY,18,0,0,0,0,0,0,Kindergarten,0.752614,0.789654,0.159520,0.0660,0.0590,0.9732,NaN,NaN,NaN,0.1379,0.125,NaN,NaN,NaN,0.0505,NaN,NaN,0.0672,0.0612,0.9732,NaN,NaN,NaN,0.1379,0.125,NaN,NaN,NaN,0.0526,NaN,NaN,0.0666,0.0590,0.9732,NaN,NaN,NaN,0.1379,0.125,NaN,NaN,NaN,0.0514,NaN,NaN,NaN,block of flats,0.0392,"Stone, brick",No,0.0,0.0,0.0,0.0,-1740.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
1,100005,Cash loans,M,N,Y,0,99000.0,222768.0,17370.0,180000.0,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,0.035792,-18064,-4469,-9118.0,-1623,NaN,1,1,0,1,0,0,Low-skill Laborers,2.0,2,2,FRIDAY,9,0,0,0,0,0,0,Self-employed,0.564990,0.291656,0.432962,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
2,100013,Cash loans,M,Y,Y,0,202500.0,663264.0,69777.0,630000.0,NaN,Working,Higher education,Married,House / apartment,0.019101,-20038,-4458,-2175.0,-3503,5.0,1,1,0,1,0,0,Drivers,2.0,2,2,MONDAY,14,0,0,0,0,0,0,Transport: type 3,NaN,0.699787,0.610991,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,-856.0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,1.0,4.0
3,100028,Cash loans,F,N,Y,2,315000.0,1575000.0,49018.5,1575000.0,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,0.026392,-13976,-1866,-2000.0,-4208,NaN,1,1,0,1,1,0,Sales staff,4.0,2,2,WEDNESDAY,11,0,0,0,0,0,0,Business Entity Type 3,0.525734,0.509677,0.612704,0.3052,0.1974,0.9970,0.9592,0.1165,0.32,0.2759,0.375,0.0417,0.2042,0.2404,0.3673,0.0386,0.08,0.3109,0.2049,0.9970,0.9608,0.1176,0.3222,0.2759,0.375,0.0417,0.2089,0.2626,0.3827,0.0389,0.0847,0.3081,0.1974,0.9970,0.9597,0.1173,0.32,0.2759,0.375,0.0417,0.2078,0.2446,0.3739,0.0388,0.0817,reg oper account,block of flats,0.3700,Panel,No,0.0,0.0,0.0,0.0,-1805.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
4,100038,Cash loans,M,Y,N,1,180000.0,625500.0,32067.0,625500.0,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,0.010032,-13040,-2191,-4000.0,-4262,16.0,1,1,1,1,0,0,NaN,3.0,2,2,FRIDAY,5,0,0,0,0,1,1,Business Entity Type 3,0.202145,0.425687,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,-821.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

#### Tabellenbeschreibungen

In [43]:
d = description.loc[description['Table']=="application_{train|test}.csv", "Row":"Special"]
d[d['Row'].str.match('DAY')]

,Row,Description,Special
20,DAYS_BIRTH,Client's age in days at the time of application,time only relative to the application
21,DAYS_EMPLOYED,How many days before the application the person started current employment,time only relative to the application
22,DAYS_REGISTRATION,How many days before the application did client change his registration,time only relative to the application
23,DAYS_ID_PUBLISH,How many days before the application did client change the identity document with which he applied for the loan,time only relative to the application
98,DAYS_LAST_PHONE_CHANGE,How many days before application did client change phone,NaN

#### Datenaufbereitung

* Transformation Tage in Jahre
* Vorzeichenwechsel
* Namenanpassung

In [44]:
df = app_test

times_heads = [head for head in df.columns if "DAYS" in head]
for head in times_heads:
    df[head] /= -365

#### DAYS_BIRTH

In [45]:
app_test.rename(
    columns = {'DAYS_BIRTH':'AGE'}, inplace=True
)

#### DAYS_EMPLOYED

In [46]:
app_test.rename(
    columns = {'DAYS_EMPLOYED':'YEARS_EMPLOYED'}, inplace=True
)

#### DAYS_REGISTRATION

In [47]:
app_test.rename(
    columns = {'DAYS_REGISTRATION':'YEARS_REGISTRATION'}, inplace=True
)

#### DAYS_ID_PUBLISH

In [48]:
app_test.rename(
    columns = {'DAYS_ID_PUBLISH':'YEARS_ID_PUBLISH'}, inplace=True
)

#### DAYS_LAST_PHONE_CHANGE

In [49]:
app_test.rename(
    columns = {'DAYS_LAST_PHONE_CHANGE':'YEARS_LAST_PHONE_CHANGE'}, inplace=True
)

### bureau

In [50]:
bureau.head()

,SK_ID_CURR,SK_ID_BUREAU,CREDIT_ACTIVE,CREDIT_CURRENCY,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,AMT_CREDIT_SUM_OVERDUE,CREDIT_TYPE,DAYS_CREDIT_UPDATE,AMT_ANNUITY
0,215354,5714462,Closed,currency 1,-497,0,-153.0,-153.0,NaN,0,91323.0,0.0,NaN,0.0,Consumer credit,-131,NaN
1,215354,5714463,Active,currency 1,-208,0,1075.0,NaN,NaN,0,225000.0,171342.0,NaN,0.0,Credit card,-20,NaN
2,215354,5714464,Active,currency 1,-203,0,528.0,NaN,NaN,0,464323.5,NaN,NaN,0.0,Consumer credit,-16,NaN
3,215354,5714465,Active,currency 1,-203,0,NaN,NaN,NaN,0,90000.0,NaN,NaN,0.0,Credit card,-16,NaN
4,215354,5714466,Active,currency 1,-629,0,1197.0,NaN,77674.5,0,2700000.0,NaN,NaN,0.0,Consumer credit,-21,NaN

In [51]:
description.loc[description['Table']=="bureau.csv", "Row":"Special"]

,Row,Description,Special
125,SK_ID_CURR,"ID of loan in our sample - one loan in our sample can have 0,1,2 or more related previous credits in credit bureau",hashed
126,SK_BUREAU_ID,Recoded ID of previous Credit Bureau credit related to our loan (unique coding for each loan application),hashed
127,CREDIT_ACTIVE,Status of the Credit Bureau (CB) reported credits,NaN
128,CREDIT_CURRENCY,Recoded currency of the Credit Bureau credit,recoded
129,DAYS_CREDIT,How many days before current application did client apply for Credit Bureau credit,time only relative to the application
130,CREDIT_DAY_OVERDUE,Number of days past due on CB credit at the time of application for related loan in our sample,NaN
131,DAYS_CREDIT_ENDDATE,Remaining duration of CB credit (in days) at the time of application in Home Credit,time only relative to the application
132,DAYS_ENDDATE_FACT,Days since CB credit ended at the time of application in Home Credit (only for closed credit),time only relative to the application
133,AMT_CREDIT_MAX_OVERDUE,Maximal amount overdue on the Credit Bureau credit so far (at application date of loan in our sample),NaN
134,CNT_CREDIT_PROLONG,How many times was the Credit Bureau credit prolonged,NaN
135,AMT_CREDIT_SUM,Current credit amount for the Credit Bureau credit,NaN
136,AMT_CREDIT_SUM_DEBT,Current debt on Credit Bureau credit,NaN
137,AMT_CREDIT_SUM_LIMIT,Current credit limit of credit card reported in Credit Bureau,NaN
138,AMT_CREDIT_SUM_OVERDUE,Current amount overdue on Credit Bureau credit,NaN
139,CREDIT_TYPE,"Type of Credit Bureau credit (Car, cash,...)",NaN
140,DAYS_CREDIT_UPDATE,How many days before loan application did last information about the Credit Bureau credit come,time only relative to the application
141,AMT_ANNUITY,Annuity of the Credit Bureau credit,NaN

#### Tabellenbeschreibungen

In [52]:
d = description.loc[description['Table']=="bureau.csv", "Row":"Special"]
d[d['Row'].str.match('DAY')]

,Row,Description,Special
129,DAYS_CREDIT,How many days before current application did client apply for Credit Bureau credit,time only relative to the application
131,DAYS_CREDIT_ENDDATE,Remaining duration of CB credit (in days) at the time of application in Home Credit,time only relative to the application
132,DAYS_ENDDATE_FACT,Days since CB credit ended at the time of application in Home Credit (only for closed credit),time only relative to the application
140,DAYS_CREDIT_UPDATE,How many days before loan application did last information about the Credit Bureau credit come,time only relative to the application

#### Datenaufbereitung

* Transformation Tage in Jahre
* Vorzeichenanpassung

In [53]:
times_heads = [head for head in bureau.columns if "DAYS" in head]
for head in times_heads:
    bureau[head] /= -365

#### DAYS_CREDIT

In [54]:
bureau.rename(
    columns = {'DAYS_CREDIT':'YEARS_CREDIT'}, inplace=True
)

#### DAYS_CREDIT_ENDDATE

In [55]:
bureau.rename(
    columns = {'DAYS_CREDIT_ENDDATE':'YEARS_CREDIT_ENDDATE'}, inplace=True
)

In [56]:
bureau["YEARS_CREDIT_ENDDATE"] *= -1

#### DAYS_ENDDATE_FACT

In [57]:
bureau.rename(
    columns = {'DAYS_ENDDATE_FACT':'YEARS_ENDDATE_FACT'}, inplace=True
)

#### DAYS_CREDIT_UPDATE

In [58]:
bureau.rename(
    columns = {'DAYS_CREDIT_UPDATE':'YEARS_CREDIT_UPDATE'}, inplace=True
)

### installments_payments

In [59]:
installments_payments.head()

,SK_ID_PREV,SK_ID_CURR,NUM_INSTALMENT_VERSION,NUM_INSTALMENT_NUMBER,DAYS_INSTALMENT,DAYS_ENTRY_PAYMENT,AMT_INSTALMENT,AMT_PAYMENT
0,1054186,161674,1.0,6,-1180.0,-1187.0,6948.360,6948.360
1,1330831,151639,0.0,34,-2156.0,-2156.0,1716.525,1716.525
2,2085231,193053,2.0,1,-63.0,-63.0,25425.000,25425.000
3,2452527,199697,1.0,3,-2418.0,-2426.0,24350.130,24350.130
4,2714724,167756,1.0,2,-1383.0,-1366.0,2165.040,2160.585

#### Tabellenbeschreibungen

In [60]:
d = description.loc[description['Table']=="installments_payments.csv", "Row":"Special"]
d[d['Row'].str.match('DAY')]

,Row,Description,Special
218,DAYS_INSTALMENT,When the installment of previous credit was supposed to be paid (relative to application date of current loan),time only relative to the application
219,DAYS_ENTRY_PAYMENT,When was the installments of previous credit paid actually (relative to application date of current loan),time only relative to the application

#### Datenaufbereitung

* Transformation Jahre in Tage
* Vorzeichen√§nderung

In [61]:
times_heads = [head for head in installments_payments.columns if "DAYS" in head]
for head in times_heads:
    installments_payments[head] /= -365

### DAYS_INSTALMENT

In [62]:
installments_payments.rename(
    columns = {'DAYS_INSTALMENT':'YEARS_INSTALMENT'}, inplace=True
)

### DAYS_ENTRY_PAYMENT

In [63]:
installments_payments.rename(
    columns = {'DAYS_ENTRY_PAYMENT':'YEARS_ENTRY_PAYMENT'}, inplace=True
)

### DAYS_ENTRY_DIFF

In [64]:
installments_payments["YEARS_ENTRY_DIFF"] = installments_payments["YEARS_ENTRY_PAYMENT"] - installments_payments["YEARS_INSTALMENT"]

### previous_application

In [65]:
previous_application.head()

,SK_ID_PREV,SK_ID_CURR,NAME_CONTRACT_TYPE,AMT_ANNUITY,AMT_APPLICATION,AMT_CREDIT,AMT_DOWN_PAYMENT,AMT_GOODS_PRICE,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,FLAG_LAST_APPL_PER_CONTRACT,NFLAG_LAST_APPL_IN_DAY,RATE_DOWN_PAYMENT,RATE_INTEREST_PRIMARY,RATE_INTEREST_PRIVILEGED,NAME_CASH_LOAN_PURPOSE,NAME_CONTRACT_STATUS,DAYS_DECISION,NAME_PAYMENT_TYPE,CODE_REJECT_REASON,NAME_TYPE_SUITE,NAME_CLIENT_TYPE,NAME_GOODS_CATEGORY,NAME_PORTFOLIO,NAME_PRODUCT_TYPE,CHANNEL_TYPE,SELLERPLACE_AREA,NAME_SELLER_INDUSTRY,CNT_PAYMENT,NAME_YIELD_GROUP,PRODUCT_COMBINATION,DAYS_FIRST_DRAWING,DAYS_FIRST_DUE,DAYS_LAST_DUE_1ST_VERSION,DAYS_LAST_DUE,DAYS_TERMINATION,NFLAG_INSURED_ON_APPROVAL
0,2030495,271877,Consumer loans,1730.430,17145.0,17145.0,0.0,17145.0,SATURDAY,15,Y,1,0.0,0.182832,0.867336,XAP,Approved,-73,Cash through the bank,XAP,NaN,Repeater,Mobile,POS,XNA,Country-wide,35,Connectivity,12.0,middle,POS mobile with interest,365243.0,-42.0,300.0,-42.0,-37.0,0.0
1,2802425,108129,Cash loans,25188.615,607500.0,679671.0,NaN,607500.0,THURSDAY,11,Y,1,NaN,NaN,NaN,XNA,Approved,-164,XNA,XAP,Unaccompanied,Repeater,XNA,Cash,x-sell,Contact center,-1,XNA,36.0,low_action,Cash X-Sell: low,365243.0,-134.0,916.0,365243.0,365243.0,1.0
2,2523466,122040,Cash loans,15060.735,112500.0,136444.5,NaN,112500.0,TUESDAY,11,Y,1,NaN,NaN,NaN,XNA,Approved,-301,Cash through the bank,XAP,"Spouse, partner",Repeater,XNA,Cash,x-sell,Credit and cash offices,-1,XNA,12.0,high,Cash X-Sell: high,365243.0,-271.0,59.0,365243.0,365243.0,1.0
3,2819243,176158,Cash loans,47041.335,450000.0,470790.0,NaN,450000.0,MONDAY,7,Y,1,NaN,NaN,NaN,XNA,Approved,-512,Cash through the bank,XAP,NaN,Repeater,XNA,Cash,x-sell,Credit and cash offices,-1,XNA,12.0,middle,Cash X-Sell: middle,365243.0,-482.0,-152.0,-182.0,-177.0,1.0
4,1784265,202054,Cash loans,31924.395,337500.0,404055.0,NaN,337500.0,THURSDAY,9,Y,1,NaN,NaN,NaN,Repairs,Refused,-781,Cash through the bank,HC,NaN,Repeater,XNA,Cash,walk-in,Credit and cash offices,-1,XNA,24.0,high,Cash Street: high,NaN,NaN,NaN,NaN,NaN,NaN

#### Tabellenbeschreibungen

In [66]:
d = description.loc[description['Table']=="previous_application.csv", "Row":"Special"]
d[d['Row'].str.match('DAY')]

,Row,Description,Special
194,DAYS_DECISION,Relative to current application when was the decision about previous application made,time only relative to the application
208,DAYS_FIRST_DRAWING,Relative to application date of current application when was the first disbursement of the previous application,time only relative to the application
209,DAYS_FIRST_DUE,Relative to application date of current application when was the first due supposed to be of the previous application,time only relative to the application
210,DAYS_LAST_DUE_1ST_VERSION,Relative to application date of current application when was the first due of the previous application,time only relative to the application
211,DAYS_LAST_DUE,Relative to application date of current application when was the last due date of the previous application,time only relative to the application
212,DAYS_TERMINATION,Relative to application date of current application when was the expected termination of the previous application,time only relative to the application

#### Datenaufbereitung

In [67]:
times_heads = [head for head in previous_application.columns if "DAYS" in head]
for head in times_heads:
    previous_application[head] /= 365

#### DAYS_DECISION

In [68]:
previous_application.rename(
    columns = {'DAYS_DECISION':'YEARS_DECISION'}, inplace=True
)

#### DAYS_FIRST_DRAWING

In [69]:
previous_application.rename(
    columns = {'DAYS_FIRST_DRAWING':'YEARS_FIRST_DRAWING'}, inplace=True
)

#### DAYS_FIRST_DUE

In [70]:
previous_application.rename(
    columns = {'DAYS_FIRST_DUE':'YEARS_FIRST_DUE'}, inplace=True
)

#### DAYS_LAST_DUE_1ST_VERSION

In [71]:
previous_application.rename(
    columns = {'DAYS_LAST_DUE_1ST_VERSION':'YEARS_LAST_DUE_1ST_VERSION'}, inplace=True
)

#### DAYS_LAST_DUE

In [72]:
previous_application.rename(
    columns = {'DAYS_LAST_DUE':'YEARS_LAST_DUE'}, inplace=True
)

#### DAYS_TERMINATION

In [73]:
previous_application.rename(
    columns = {'DAYS_TERMINATION':'YEARS_TERMINATION'}, inplace=True
)

### Mergin Time Series

In [74]:
for key, table in tables.items():
    heads = [head for head in table.columns if "DAYS" in head or "MONTHS" in head or "YEARS" in head]
    print(key,":", heads)

app_test : ['YEARS_EMPLOYED', 'YEARS_REGISTRATION', 'YEARS_ID_PUBLISH', 'YEARS_BEGINEXPLUATATION_AVG', 'YEARS_BUILD_AVG', 'YEARS_BEGINEXPLUATATION_MODE', 'YEARS_BUILD_MODE', 'YEARS_BEGINEXPLUATATION_MEDI', 'YEARS_BUILD_MEDI', 'YEARS_LAST_PHONE_CHANGE']
app_train : ['YEARS_EMPLOYED', 'YEARS_REGISTRATION', 'YEARS_ID_PUBLISH', 'YEARS_BEGINEXPLUATATION_AVG', 'YEARS_BUILD_AVG', 'YEARS_BEGINEXPLUATATION_MODE', 'YEARS_BUILD_MODE', 'YEARS_BEGINEXPLUATATION_MEDI', 'YEARS_BUILD_MEDI', 'YEARS_LAST_PHONE_CHANGE']
bureau : ['YEARS_CREDIT', 'YEARS_CREDIT_ENDDATE', 'YEARS_ENDDATE_FACT', 'YEARS_CREDIT_UPDATE']
bureau_balance : ['MONTHS_BALANCE']
credit_card_balance : ['MONTHS_BALANCE']
installments_payments : ['YEARS_INSTALMENT', 'YEARS_ENTRY_PAYMENT', 'YEARS_ENTRY_DIFF']
pcb : ['MONTHS_BALANCE']
previous_application : ['YEARS_DECISION', 'YEARS_FIRST_DRAWING', 'YEARS_FIRST_DUE', 'YEARS_LAST_DUE_1ST_VERSION', 'YEARS_LAST_DUE', 'YEARS_TERMINATION']

app_train und app_test sind zeitbezogene Stammdaten und somit keine Zeitreihen

### Bureau

In [75]:
ts = [head for head in bureau.columns if "DAYS" in head or "MONTHS" in head or "YEARS" in head]
ts = ts + ["AMT_CREDIT_SUM",
"AMT_CREDIT_SUM_DEBT",
"AMT_CREDIT_SUM_LIMIT",
"AMT_CREDIT_SUM_OVERDUE",
"AMT_ANNUITY"]
ts

['YEARS_CREDIT',
 'YEARS_CREDIT_ENDDATE',
 'YEARS_ENDDATE_FACT',
 'YEARS_CREDIT_UPDATE',
 'AMT_CREDIT_SUM',
 'AMT_CREDIT_SUM_DEBT',
 'AMT_CREDIT_SUM_LIMIT',
 'AMT_CREDIT_SUM_OVERDUE',
 'AMT_ANNUITY']

In [76]:
quants = [0, 0.25, 0.5, 0.75, 1]
for index, head in enumerate(ts):
    a = bureau[["SK_ID_CURR", head]]
    a = a.groupby(by = ["SK_ID_CURR"]).quantile(quants)
    a = a.unstack(level=-1)
    if index == 0:
        b = a
        continue
    b = b.join(a , on="SK_ID_CURR")
b.head()

           YEARS_CREDIT                                          \
                   0.00      0.25      0.50      0.75      1.00
SK_ID_CURR
100001         0.134247  1.204110  2.347945  2.449315  4.306849
100002         0.282192  1.651370  2.856164  3.073973  3.936986
100003         1.660274  2.007534  3.302740  5.132877  7.084932
100004         1.117808  1.746575  2.375342  3.004110  3.632877
100005         0.169863  0.272603  0.375342  0.698630  1.021918

           YEARS_CREDIT_ENDDATE                                          \
                           0.00      0.25      0.50      0.75      1.00
SK_ID_CURR
100001                -3.641096 -1.378082 -0.490411  1.798630  4.871233
100002                -2.936986 -2.756849 -1.163014  0.217123  2.136986
100003                -6.668493 -2.776712 -1.315068 -0.030137  3.331507
100004                -1.630137 -1.484247 -1.338356 -1.192466 -1.046575
100005                -0.350685 -0.008219  0.334247  1.980822  3.627397

           YEARS_ENDDATE_FACT                                          \
                         0.00      0.25      0.50      0.75      1.00
SK_ID_CURR
100001               1.490411  1.508904  1.958904  2.711644  3.638356
100002               0.098630  0.722603  2.572603  2.795205  3.246575
100003               1.479452  1.590411  1.701370  3.769863  5.838356
100004               1.046575  1.252740  1.458904  1.665068  1.871233
100005               0.336986  0.336986  0.336986  0.336986  0.336986

           YEARS_CREDIT_UPDATE                                          \
                          0.00      0.25      0.50      0.75      1.00
SK_ID_CURR
100001                0.016438  0.035616  0.424658  0.424658  0.424658
100002                0.019178  0.086301  1.102740  2.572603  3.246575
100003                0.117808  1.139041  1.493151  2.589726  5.838356
100004                1.046575  1.252055  1.457534  1.663014  1.868493
100005                0.030137  0.057534  0.084932  0.208219  0.331507

           AMT_CREDIT_SUM                                                \
                     0.00          0.25       0.50       0.75      1.00
SK_ID_CURR
100001            85500.0  102060.00000  168345.00  308700.00  378000.0
100002                0.0   28759.17375   54130.50  124301.25  450000.0
100003            22248.0   60051.37500   92576.25  286875.00  810000.0
100004            94500.0   94509.45000   94518.90   94528.35   94537.8
100005            29826.0   44163.00000   58500.00  313650.00  568800.0

           AMT_CREDIT_SUM_DEBT                                          \
                          0.00      0.25     0.50       0.75      1.00
SK_ID_CURR
100001                     0.0      0.00      0.0  111723.75  373239.0
100002                     0.0      0.00      0.0       0.00  245781.0
100003                     0.0      0.00      0.0       0.00       0.0
100004                     0.0      0.00      0.0       0.00       0.0
100005                     0.0  12660.75  25321.5  284204.25  543087.0

           AMT_CREDIT_SUM_LIMIT                                      \
                           0.00 0.25 0.50          0.75        1.00
SK_ID_CURR
100001                      0.0  0.0  0.0       0.00000       0.000
100002                      0.0  0.0  0.0    7997.14125   31988.565
100003                      0.0  0.0  0.0  202500.00000  810000.000
100004                      0.0  0.0  0.0       0.00000       0.000
100005                      0.0  0.0  0.0       0.00000       0.000

           AMT_CREDIT_SUM_OVERDUE                     AMT_ANNUITY            \
                             0.00 0.25 0.50 0.75 1.00        0.00 0.25 0.50
SK_ID_CURR
100001                        0.0  0.0  0.0  0.0  0.0         0.0  0.0  0.0
100002                        0.0  0.0  0.0  0.0  0.0         0.0  0.0  0.0
100003                        0.0  0.0  0.0  0.0  0.0         NaN  NaN  NaN
100004                        0.0  0.0  0.0  0.0  0.0         NaN  NaN  NaN
100005                        0.0  0.0  0.0  0.0  0.0         0.0  0.0  0.0


               0.75     1.00
SK_ID_CURR
100001      6997.50  10822.5
100002         0.00      0.0
100003          NaN      NaN
100004          NaN      NaN
100005      2130.75   4261.5

In [77]:
# Vereinigungsmenge
app_train = app_train.join(b, on="SK_ID_CURR")

c:\users\rober\documents\workspace\python\masterarbeit\venv\lib\site-packages\pandas\core\reshape\merge.py:643: UserWarning: merging between different levels can give an unintended result (1 levels on the left,2 on the right)
  warnings.warn(msg, UserWarning)

### Installments

In [78]:
ts = [head for head in installments_payments.columns if "DAYS" in head or "MONTHS" in head or "YEARS" in head]
ts

['YEARS_INSTALMENT', 'YEARS_ENTRY_PAYMENT', 'YEARS_ENTRY_DIFF']

In [79]:
installments_payments.head()

,SK_ID_PREV,SK_ID_CURR,NUM_INSTALMENT_VERSION,NUM_INSTALMENT_NUMBER,YEARS_INSTALMENT,YEARS_ENTRY_PAYMENT,AMT_INSTALMENT,AMT_PAYMENT,YEARS_ENTRY_DIFF
0,1054186,161674,1.0,6,3.232877,3.252055,6948.360,6948.360,0.019178
1,1330831,151639,0.0,34,5.906849,5.906849,1716.525,1716.525,0.000000
2,2085231,193053,2.0,1,0.172603,0.172603,25425.000,25425.000,0.000000
3,2452527,199697,1.0,3,6.624658,6.646575,24350.130,24350.130,0.021918
4,2714724,167756,1.0,2,3.789041,3.742466,2165.040,2160.585,-0.046575

In [80]:
quants = [0, 0.25, 0.5, 0.75, 1]
a = installments_payments[["SK_ID_CURR", "YEARS_ENTRY_DIFF"]]
a = a.groupby(by = ["SK_ID_CURR"]).quantile(quants)
a = a.unstack(level=-1)
b = a
b.head()

           YEARS_ENTRY_DIFF
                       0.00      0.25      0.50      0.75      1.00
SK_ID_CURR
100001            -0.030137  0.000000  0.016438  0.027397  0.098630
100002             0.032877  0.047945  0.052055  0.064384  0.084932
100003             0.002740  0.010959  0.016438  0.027397  0.038356
100004             0.008219  0.016438  0.024658  0.027397  0.030137
100005            -0.002740  0.052055  0.079452  0.082192  0.101370

In [81]:
# Vereinigungsmenge
app_train = app_train.join(b, on="SK_ID_CURR")

c:\users\rober\documents\workspace\python\masterarbeit\venv\lib\site-packages\pandas\core\reshape\merge.py:643: UserWarning: merging between different levels can give an unintended result (1 levels on the left,2 on the right)
  warnings.warn(msg, UserWarning)

### Previous Application

In [82]:
ts = [head for head in previous_application.columns if "DAYS" in head or "MONTHS" in head or "YEARS" in head]
ts

['YEARS_DECISION',
 'YEARS_FIRST_DRAWING',
 'YEARS_FIRST_DUE',
 'YEARS_LAST_DUE_1ST_VERSION',
 'YEARS_LAST_DUE',
 'YEARS_TERMINATION']

In [83]:
previous_application.head()

,SK_ID_PREV,SK_ID_CURR,NAME_CONTRACT_TYPE,AMT_ANNUITY,AMT_APPLICATION,AMT_CREDIT,AMT_DOWN_PAYMENT,AMT_GOODS_PRICE,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,FLAG_LAST_APPL_PER_CONTRACT,NFLAG_LAST_APPL_IN_DAY,RATE_DOWN_PAYMENT,RATE_INTEREST_PRIMARY,RATE_INTEREST_PRIVILEGED,NAME_CASH_LOAN_PURPOSE,NAME_CONTRACT_STATUS,YEARS_DECISION,NAME_PAYMENT_TYPE,CODE_REJECT_REASON,NAME_TYPE_SUITE,NAME_CLIENT_TYPE,NAME_GOODS_CATEGORY,NAME_PORTFOLIO,NAME_PRODUCT_TYPE,CHANNEL_TYPE,SELLERPLACE_AREA,NAME_SELLER_INDUSTRY,CNT_PAYMENT,NAME_YIELD_GROUP,PRODUCT_COMBINATION,YEARS_FIRST_DRAWING,YEARS_FIRST_DUE,YEARS_LAST_DUE_1ST_VERSION,YEARS_LAST_DUE,YEARS_TERMINATION,NFLAG_INSURED_ON_APPROVAL
0,2030495,271877,Consumer loans,1730.430,17145.0,17145.0,0.0,17145.0,SATURDAY,15,Y,1,0.0,0.182832,0.867336,XAP,Approved,-0.200000,Cash through the bank,XAP,NaN,Repeater,Mobile,POS,XNA,Country-wide,35,Connectivity,12.0,middle,POS mobile with interest,1000.665753,-0.115068,0.821918,-0.115068,-0.101370,0.0
1,2802425,108129,Cash loans,25188.615,607500.0,679671.0,NaN,607500.0,THURSDAY,11,Y,1,NaN,NaN,NaN,XNA,Approved,-0.449315,XNA,XAP,Unaccompanied,Repeater,XNA,Cash,x-sell,Contact center,-1,XNA,36.0,low_action,Cash X-Sell: low,1000.665753,-0.367123,2.509589,1000.665753,1000.665753,1.0
2,2523466,122040,Cash loans,15060.735,112500.0,136444.5,NaN,112500.0,TUESDAY,11,Y,1,NaN,NaN,NaN,XNA,Approved,-0.824658,Cash through the bank,XAP,"Spouse, partner",Repeater,XNA,Cash,x-sell,Credit and cash offices,-1,XNA,12.0,high,Cash X-Sell: high,1000.665753,-0.742466,0.161644,1000.665753,1000.665753,1.0
3,2819243,176158,Cash loans,47041.335,450000.0,470790.0,NaN,450000.0,MONDAY,7,Y,1,NaN,NaN,NaN,XNA,Approved,-1.402740,Cash through the bank,XAP,NaN,Repeater,XNA,Cash,x-sell,Credit and cash offices,-1,XNA,12.0,middle,Cash X-Sell: middle,1000.665753,-1.320548,-0.416438,-0.498630,-0.484932,1.0
4,1784265,202054,Cash loans,31924.395,337500.0,404055.0,NaN,337500.0,THURSDAY,9,Y,1,NaN,NaN,NaN,Repairs,Refused,-2.139726,Cash through the bank,HC,NaN,Repeater,XNA,Cash,walk-in,Credit and cash offices,-1,XNA,24.0,high,Cash Street: high,NaN,NaN,NaN,NaN,NaN,NaN

In [84]:
quants = [0, 0.25, 0.5, 0.75, 1]
for index, head in enumerate(ts):
    a = previous_application[["SK_ID_CURR", head]]
    a = a.groupby(by = ["SK_ID_CURR"]).quantile(quants)
    a = a.unstack(level=-1)
    if index == 0:
        b = a
        continue
    b = b.join(a , on="SK_ID_CURR")
b.head()

           YEARS_DECISION                                          \
                     0.00      0.25      0.50      0.75      1.00
SK_ID_CURR
100001          -4.767123 -4.767123 -4.767123 -4.767123 -4.767123
100002          -1.660274 -1.660274 -1.660274 -1.660274 -1.660274
100003          -6.413699 -4.341096 -2.268493 -2.156164 -2.043836
100004          -2.232877 -2.232877 -2.232877 -2.232877 -2.232877
100005          -2.073973 -1.771233 -1.468493 -1.165753 -0.863014

           YEARS_FIRST_DRAWING                                         \
                          0.00         0.25         0.50         0.75
SK_ID_CURR
100001             1000.665753  1000.665753  1000.665753  1000.665753
100002             1000.665753  1000.665753  1000.665753  1000.665753
100003             1000.665753  1000.665753  1000.665753  1000.665753
100004             1000.665753  1000.665753  1000.665753  1000.665753
100005             1000.665753  1000.665753  1000.665753  1000.665753

                        YEARS_FIRST_DUE                                \
                   1.00            0.00      0.25      0.50      0.75
SK_ID_CURR
100001      1000.665753       -4.682192 -4.682192 -4.682192 -4.682192
100002      1000.665753       -1.547945 -1.547945 -1.547945 -1.547945
100003      1000.665753       -6.328767 -4.256164 -2.183562 -2.072603
100004      1000.665753       -2.147945 -2.147945 -2.147945 -2.147945
100005      1000.665753       -1.934247 -1.934247 -1.934247 -1.934247

                     YEARS_LAST_DUE_1ST_VERSION                                \
                1.00                       0.00      0.25      0.50      0.75
SK_ID_CURR
100001     -4.682192                  -4.106849 -4.106849 -4.106849 -4.106849
100002     -1.547945                   0.342466  0.342466  0.342466  0.342466
100003     -1.961644                  -5.424658 -3.598630 -1.772603 -1.415068
100004     -2.147945                  -1.901370 -1.901370 -1.901370 -1.901370
100005     -1.934247                  -1.030137 -1.030137 -1.030137 -1.030137

                     YEARS_LAST_DUE                                          \
                1.00           0.00      0.25      0.50      0.75      1.00
SK_ID_CURR
100001     -4.106849      -4.435616 -4.435616 -4.435616 -4.435616 -4.435616
100002      0.342466      -0.068493 -0.068493 -0.068493 -0.068493 -0.068493
100003     -1.057534      -5.424658 -3.598630 -1.772603 -1.620548 -1.468493
100004     -1.901370      -1.983562 -1.983562 -1.983562 -1.983562 -1.983562
100005     -1.030137      -1.276712 -1.276712 -1.276712 -1.276712 -1.276712

           YEARS_TERMINATION
                        0.00      0.25      0.50      0.75      1.00
SK_ID_CURR
100001             -4.416438 -4.416438 -4.416438 -4.416438 -4.416438
100002             -0.046575 -0.046575 -0.046575 -0.046575 -0.046575
100003             -5.413699 -3.582192 -1.750685 -1.597260 -1.443836
100004             -1.956164 -1.956164 -1.956164 -1.956164 -1.956164
100005             -1.260274 -1.260274 -1.260274 -1.260274 -1.260274

In [85]:
# Vereinigungsmenge
app_train = app_train.join(b, on="SK_ID_CURR")

c:\users\rober\documents\workspace\python\masterarbeit\venv\lib\site-packages\pandas\core\reshape\merge.py:643: UserWarning: merging between different levels can give an unintended result (1 levels on the left,2 on the right)
  warnings.warn(msg, UserWarning)

In [86]:
app_train.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,REGION_POPULATION_RELATIVE,AGE,YEARS_EMPLOYED,YEARS_REGISTRATION,YEARS_ID_PUBLISH,OWN_CAR_AGE,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,ORGANIZATION_TYPE,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,APARTMENTS_AVG,BASEMENTAREA_AVG,YEARS_BEGINEXPLUATATION_AVG,YEARS_BUILD_AVG,COMMONAREA_AVG,ELEVATORS_AVG,ENTRANCES_AVG,FLOORSMAX_AVG,FLOORSMIN_AVG,LANDAREA_AVG,LIVINGAPARTMENTS_AVG,LIVINGAREA_AVG,NONLIVINGAPARTMENTS_AVG,NONLIVINGAREA_AVG,APARTMENTS_MODE,BASEMENTAREA_MODE,YEARS_BEGINEXPLUATATION_MODE,YEARS_BUILD_MODE,COMMONAREA_MODE,ELEVATORS_MODE,ENTRANCES_MODE,FLOORSMAX_MODE,FLOORSMIN_MODE,LANDAREA_MODE,LIVINGAPARTMENTS_MODE,LIVINGAREA_MODE,NONLIVINGAPARTMENTS_MODE,NONLIVINGAREA_MODE,APARTMENTS_MEDI,BASEMENTAREA_MEDI,YEARS_BEGINEXPLUATATION_MEDI,YEARS_BUILD_MEDI,COMMONAREA_MEDI,ELEVATORS_MEDI,ENTRANCES_MEDI,FLOORSMAX_MEDI,FLOORSMIN_MEDI,LANDAREA_MEDI,LIVINGAPARTMENTS_MEDI,LIVINGAREA_MEDI,NONLIVINGAPARTMENTS_MEDI,NONLIVINGAREA_MEDI,FONDKAPREMONT_MODE,HOUSETYPE_MODE,TOTALAREA_MODE,WALLSMATERIAL_MODE,EMERGENCYSTATE_MODE,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,YEARS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_10,FLAG_DOCUMENT_11,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR,"(YEARS_CREDIT, 0.0)","(YEARS_CREDIT, 0.25)","(YEARS_CREDIT, 0.5)","(YEARS_CREDIT, 0.75)","(YEARS_CREDIT, 1.0)","(YEARS_CREDIT_ENDDATE, 0.0)","(YEARS_CREDIT_ENDDATE, 0.25)","(YEARS_CREDIT_ENDDATE, 0.5)","(YEARS_CREDIT_ENDDATE, 0.75)","(YEARS_CREDIT_ENDDATE, 1.0)","(YEARS_ENDDATE_FACT, 0.0)","(YEARS_ENDDATE_FACT, 0.25)","(YEARS_ENDDATE_FACT, 0.5)","(YEARS_ENDDATE_FACT, 0.75)","(YEARS_ENDDATE_FACT, 1.0)","(YEARS_CREDIT_UPDATE, 0.0)","(YEARS_CREDIT_UPDATE, 0.25)","(YEARS_CREDIT_UPDATE, 0.5)","(YEARS_CREDIT_UPDATE, 0.75)","(YEARS_CREDIT_UPDATE, 1.0)","(AMT_CREDIT_SUM, 0.0)","(AMT_CREDIT_SUM, 0.25)","(AMT_CREDIT_SUM, 0.5)","(AMT_CREDIT_SUM, 0.75)","(AMT_CREDIT_SUM, 1.0)","(AMT_CREDIT_SUM_DEBT, 0.0)","(AMT_CREDIT_SUM_DEBT, 0.25)","(AMT_CREDIT_SUM_DEBT, 0.5)","(AMT_CREDIT_SUM_DEBT, 0.75)","(AMT_CREDIT_SUM_DEBT, 1.0)","(AMT_CREDIT_SUM_LIMIT, 0.0)","(AMT_CREDIT_SUM_LIMIT, 0.25)","(AMT_CREDIT_SUM_LIMIT, 0.5)","(AMT_CREDIT_SUM_LIMIT, 0.75)","(AMT_CREDIT_SUM_LIMIT, 1.0)","(AMT_CREDIT_SUM_OVERDUE, 0.0)","(AMT_CREDIT_SUM_OVERDUE, 0.25)","(AMT_CREDIT_SUM_OVERDUE, 0.5)","(AMT_CREDIT_SUM_OVERDUE, 0.75)","(AMT_CREDIT_SUM_OVERDUE, 1.0)","(AMT_ANNUITY, 0.0)","(AMT_ANNUITY, 0.25)","(AMT_ANNUITY, 0.5)","(AMT_ANNUITY, 0.75)","(AMT_ANNUITY, 1.0)","(YEARS_ENTRY_DIFF, 0.0)","(YEARS_ENTRY_DIFF, 0.25)","(YEARS_ENTRY_DIFF, 0.5)","(YEARS_ENTRY_DIFF, 0.75)","(YEARS_ENTRY_DIFF, 1.0)","(YEARS_DECISION, 0.0)","(YEARS_DECISION, 0.25)","(YEARS_DECISION, 0.5)","(YEARS_DECISION, 0.75)","(YEARS_DECISION, 1.0)","(YEARS_FIRST_DRAWING, 0.0)","(YEARS_FIRST_DRAWING, 0.25)","(YEARS_FIRST_DRAWING, 0.5)","(YEARS_FIRST_DRAWING, 0.75)","(YEARS_FIRST_DRAWING, 1.0)","(YEARS_FIRST_DUE, 0.0)","(YEARS_FIRST_DUE, 0.25)","(YEARS_FIRST_DUE, 0.5)","(YEARS_FIRST_DUE, 0.75)","(YEARS_FIRST_DUE, 1.0)","(YEARS_LAST_DUE_1ST_VERSION, 0.0)","(YEARS_LAST_DUE_1ST_VERSION, 0.25)","(YEARS_LAST_DUE_1ST_VERSION, 0.5)","(YEARS_LAST_DUE_1ST_VERSION, 0.75)","(YEARS_LAST_DUE_1ST_VERSION, 1.0)","(YEARS_LAST_DUE, 0.0)","(YEARS_LAST_DUE, 0.25)","(YEARS_LAST_DUE, 0.5)","(YEARS_LAST_DUE, 0.75)","(YEARS_LAST_DUE, 1.0)","(YEARS_TERMINATION, 0.0)","(YEARS_TERMINATION, 0.25)","(YEARS_TERMINATION, 0.5)","(YEARS_TERMINATION, 0.75)","(YEARS_TERMINATION, 1.0)"
0,100002,Default,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,351000.0,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.018801,25.920548,1.745205,9.994521,5.808219,NaN,1,1,0,1,1,0,Laborers,1.0,2,2,WEDNESDAY,10,0,0,0,0,0,0,Business Entity Type 3,0.083037,0.262949,0.139376,0.0247,0.0369,0.9722,0.6192,0.0143,0.00,0.0690,0.0833,0.1250,0.0369,0.0202,0.0190,0.0000,0.0000,0.0252,0.0383,0.9722,0.6341,0.0144,0.0000,0.0690,0.0833,0.1250,0.0377,0.022,0.0198,0.0,0.0,0.0250,0.0369,0.9722,0.6243,0.0144,0.00,0.0690,0.0833,0.1250,0.0375,0.0205,0.0193,0.0000,0.00,reg oper account,block of flats,0.0149,"Stone, brick",No,2.0,2.0,2.0,2.0,3.106849,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0,0.282192,1.651370,2.856164,3.073973,3.936986,-2.936986,-2.756849,-1.163014,0.217123,2.136986,0.098630,0.722603,2.572603,2.795205,3.246575,0.019178,0.086301,1.102740,2.572603,3.246575,0.0,28759.17375,54130.50,124301.25,450000.0,0.0,0.0,0.0,0.0,245781.0,0.0,0.0,0.0,7997.14125,31988.565,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.032877,0.047945,0.052055,0.064384,0.084932,-1.660274,-1.660274,-1.660274,-1.660274,-1.660274,1000.665753,1000.665753,1000.665753,1000.665753,1000.665753,-1.547945,-1.547945,-1.547945,-1.547945,-1.547945,0.342466,0.342466,0.342466,0.342466,0.342466,-0.068493,-0.068493,-0.068493,-0.068493,-0.068493,-0.046575,-0.046575,-0.046575,-0.046575,-0.046575
1,100003,Payback,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,1129500.0,Family,State servant,Higher education,Married,House / apartment,0.003541,45.931507,3.254795,3.249315,0.797260,NaN,1,1,0,1,1,0,Core staff,2.0,1,1,MONDAY,11,0,0,0,0,0,0,School,0.311267,0.622246,NaN,0.0959,0.0529,0.9851,0.7960,0.0605,0.08,0.0345,0.2917,0.3333,0.0130,0.0773,0.0549,0.0039,0.0098,0.0924,0.0538,0.9851,0.8040,0.0497,0.0806,0.0345,0.2917,0.3333,0.0128,0.079,0.0554,0.0,0.0,0.0968,0.0529,0.9851,0.7987,0.0608,0.08,0.0345,0.2917,0.3333,0.0132,0.0787,0.0558,0.0039,0.01,reg oper account,block of flats,0.0714,Block,No,1.0,0.0,1.0,0.0,2.268493,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,1.660274,2.007534,3.302740,5.132877,7.084932,-6.668493,-2.776712,-1.315068,-0.030137,3.331507,1.479452,1.590411,1.701370,3.769863,5.838356,0.117808,1.139041,1.493151,2.589726,5.838356,22248.0,60051.37500,92576.25,286875.00,810000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,202500.00000,810000.000,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,0.002740,0.010959,0.016438,0.027397,0.038356,-6.413699,-4.341096,-2.268493,-2.156164,-2.043836,1000.665753,1000.665753,1000.665753,1000.665753,1000.665753,-6.328767,-4.256164,-2.183562,-2.072603,-1.961644,-5.424658,-3.598630,-1.772603,-1.415068,-1.057534,-5.424658,-3.598630,-1.772603,-1.620548,-1.468493,-5.413699,-3.582192,-1.750685,-1.597260,-1.443836
2,100004,Payback,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,135000.0,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.010032,52.180822,0.616438,11.671233,6.934247,26.0,1,1,1,1,1,0,Laborers,1.0,2,2,MONDAY,9,0,0,0,0,0,0,Government,NaN,0.555912,0.729567,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,2.232877,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,1.117808,1.746575,2.375342,3.004110,3.632877,-1.630137,-1.484247,-1.338356,-1.192466,-1.046575,1.046575,1.252740,1.458904,1.665068,1.871233,1.046575,1.252055,1.457534,1.663014,1.868493,94500.0,94509.45000,94518.90,94528.35,94537.8,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00000,0.000,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,0.008219,0.016438,0.024658,0.027397,0.030137,-2.232877,-2.232877,-2.232877,-2.232877,-2.232877,1000.665753,1000.665753,1000.665753,1000.665753,1000.665753,-2.147945,-2.147945,-2.147945,-2.147945,-2.147945,-1.901370,-1.901370,-1.901370,-1.901370,-1.901370,-1.983562,-1.983562,-1.983562,-1.983562,-1.983562,-1.956164,-1.956164,-1.956164,-1.956164,-1.956164
3,100006,Payback,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,297000.0,Unaccompanied,Working,Secondary / secondary special,Civil marriage,House / apartment,0.008019,52.068493,8.326027,26.939726,6.676712,NaN,1,1,0,1,0,0,Laborers,2.0,2,2,WEDNESDAY,17,0,0,0,0,0,0,Business Entity Type 3,NaN,0.650442,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,0.0,2.0,0.0,1.690411,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.002740,0.010274,0.016438,0.067808,0.210959,-1.690411,-0.852055,-0.495890,-0.495890,-0.495890,1000.665753,1000.665753,1000.665753,1000.665753,1000.665753,-1.493151,-0.950685,-0.591781,249.856164,1000.665753,-0.589041,-0.046575,1.791781,252.753425,1000.665753,-1.164384,-0.601370,500.126027,1000.665753,1000.665753,-1.139726,-0.578767,500.136986,1000.665753,1000.665753
4,100007,Payback,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,513000.0,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.028663,54.608219,8.323288,11.810959,9.473973,NaN,1,1,0,1,0,0,Core staff,1.0,2,2,THURSDAY,11,0,0,0,0,1,1,Religion,NaN,0.322738,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,3.030137,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,3.147945,3.147945,3.147945,3.147945,3.147945,-2.145205,-2.145205,-2.145205,-2.145205,-2.145205,2.145205,2.145205,2.145205,2.145205,2.145205,2.145205,2.145205,2.145205,2.145205,2.145205,146250.0,146250.00000,146250.00,146250.00,146250.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00000,0.000,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,-0.032877,0.000000,0.005479,0.018493,0.084932,-6.457534,-4.390411,-2.702740,-2.371233,-1.024658,1000.665753,1000.665753,1000.665753,1000.665753,1000.665753,-6.372603,-4.756164,-2.947945,-2.284932,-0.942466,-5.632877,-3.852055,-2.043836,-0.887671,0.947945,-5.632877,-3.852055,-2.043836,-0.969863,1000.665753,-5.591781,-3.827397,-2.024658,-0.950685,1000.665753

In [87]:
app_train.to_csv(DATASET_DIR / "Dataset.csv")