In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import seaborn as sns

from pathlib import Path

pd.options.display.max_columns = None
pd.options.display.max_rows = None
pd.options.display.max_colwidth = None

from sklearn.linear_model import LogisticRegression

In [2]:
path1 = Path(r"A:\Workspace\Python\Masterarbeit\Kaggle Home Credit Datensatz")
path2 = Path(r"C:\Users\rober\Documents\Workspace\Python\Masterarbeit\Kaggle Home Credit Datensatz")

if path1.is_dir():
    DATASET_DIR = path1
else:
    DATASET_DIR = path2

In [3]:
app_test = pd.read_csv(DATASET_DIR / "application_test.csv")
app_train = pd.read_csv(DATASET_DIR / "application_train.csv")

description = pd.read_csv(DATASET_DIR / "HomeCredit_columns_description.csv", encoding="latin", index_col=0)

In [4]:
des = description.loc[description['Table']=="application_{train|test}.csv", "Row":"Special"]

In [5]:
n_heads = ["TARGET", 'NAME_CONTRACT_TYPE', 'CODE_GENDER', 'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'NAME_TYPE_SUITE', 'NAME_INCOME_TYPE', 'NAME_EDUCATION_TYPE', 'NAME_FAMILY_STATUS', 'NAME_HOUSING_TYPE', 'FLAG_MOBIL', 'FLAG_EMP_PHONE', 'FLAG_WORK_PHONE', 'FLAG_CONT_MOBILE', 'FLAG_PHONE', 'FLAG_EMAIL', 'OCCUPATION_TYPE', 'REGION_RATING_CLIENT', 'REGION_RATING_CLIENT_W_CITY', 'WEEKDAY_APPR_PROCESS_START', 'REG_REGION_NOT_LIVE_REGION', 'REG_REGION_NOT_WORK_REGION', 'LIVE_REGION_NOT_WORK_REGION', 'REG_CITY_NOT_LIVE_CITY', 'REG_CITY_NOT_WORK_CITY', 'LIVE_CITY_NOT_WORK_CITY', 'ORGANIZATION_TYPE', 'FONDKAPREMONT_MODE', 'HOUSETYPE_MODE', 'WALLSMATERIAL_MODE', 'EMERGENCYSTATE_MODE', 'FLAG_DOCUMENT_2', 'FLAG_DOCUMENT_3', 'FLAG_DOCUMENT_4', 'FLAG_DOCUMENT_5', 'FLAG_DOCUMENT_6', 'FLAG_DOCUMENT_7', 'FLAG_DOCUMENT_8', 'FLAG_DOCUMENT_9', 'FLAG_DOCUMENT_10', 'FLAG_DOCUMENT_11', 'FLAG_DOCUMENT_12', 'FLAG_DOCUMENT_13', 'FLAG_DOCUMENT_14', 'FLAG_DOCUMENT_15', 'FLAG_DOCUMENT_16', 'FLAG_DOCUMENT_17', 'FLAG_DOCUMENT_18', 'FLAG_DOCUMENT_19', 'FLAG_DOCUMENT_20', 'FLAG_DOCUMENT_21']

In [6]:
df = app_train[["SK_ID_CURR"] + n_heads]

In [7]:
skip = ["SK_ID_CURR", "TARGET"]

In [8]:
df = df.set_index("SK_ID_CURR")

In [9]:
df.head()

,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,WEEKDAY_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,ORGANIZATION_TYPE,FONDKAPREMONT_MODE,HOUSETYPE_MODE,WALLSMATERIAL_MODE,EMERGENCYSTATE_MODE,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_10,FLAG_DOCUMENT_11,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21
SK_ID_CURR,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
100002,1,Cash loans,M,N,Y,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,1,1,0,1,1,0,Laborers,2,2,WEDNESDAY,0,0,0,0,0,0,Business Entity Type 3,reg oper account,block of flats,"Stone, brick",No,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
100003,0,Cash loans,F,N,N,Family,State servant,Higher education,Married,House / apartment,1,1,0,1,1,0,Core staff,1,1,MONDAY,0,0,0,0,0,0,School,reg oper account,block of flats,Block,No,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
100004,0,Revolving loans,M,Y,Y,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,1,1,1,1,1,0,Laborers,2,2,MONDAY,0,0,0,0,0,0,Government,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
100006,0,Cash loans,F,N,Y,Unaccompanied,Working,Secondary / secondary special,Civil marriage,House / apartment,1,1,0,1,0,0,Laborers,2,2,WEDNESDAY,0,0,0,0,0,0,Business Entity Type 3,NaN,NaN,NaN,NaN,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
100007,0,Cash loans,M,N,Y,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,1,1,0,1,0,0,Core staff,2,2,THURSDAY,0,0,0,0,1,1,Religion,NaN,NaN,NaN,NaN,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0

In [10]:
result = {
          "header":[],
          "rate":[],
          "des":[]
         }
for key in df.keys():
    if key in skip:
        continue
    rate = df[key].isnull().sum() / len(df[key]) * 100
    if rate > 60:
        result["header"].append(key)
        result["rate"].append(rate)
        result["des"].append(des[des["Row"] == key]["Description"])

result = pd.DataFrame(result)
result

,header,rate,des
0,FONDKAPREMONT_MODE,68.386172,"89 Normalized information about building where the client lives, What is average (_AVG suffix), modus (_MODE suffix), median (_MEDI suffix) apartment size, common area, living area, age of building, number of elevators, number of entrances, state of the building, number of floor Name: Description, dtype: object"

In [11]:
list(result.header)

['FONDKAPREMONT_MODE']

In [12]:
n_heads = [head for head in n_heads if head not in list(result.header)]
df[n_heads].head()

,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,WEEKDAY_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,ORGANIZATION_TYPE,HOUSETYPE_MODE,WALLSMATERIAL_MODE,EMERGENCYSTATE_MODE,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_10,FLAG_DOCUMENT_11,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21
SK_ID_CURR,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
100002,1,Cash loans,M,N,Y,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,1,1,0,1,1,0,Laborers,2,2,WEDNESDAY,0,0,0,0,0,0,Business Entity Type 3,block of flats,"Stone, brick",No,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
100003,0,Cash loans,F,N,N,Family,State servant,Higher education,Married,House / apartment,1,1,0,1,1,0,Core staff,1,1,MONDAY,0,0,0,0,0,0,School,block of flats,Block,No,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
100004,0,Revolving loans,M,Y,Y,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,1,1,1,1,1,0,Laborers,2,2,MONDAY,0,0,0,0,0,0,Government,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
100006,0,Cash loans,F,N,Y,Unaccompanied,Working,Secondary / secondary special,Civil marriage,House / apartment,1,1,0,1,0,0,Laborers,2,2,WEDNESDAY,0,0,0,0,0,0,Business Entity Type 3,NaN,NaN,NaN,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
100007,0,Cash loans,M,N,Y,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,1,1,0,1,0,0,Core staff,2,2,THURSDAY,0,0,0,0,1,1,Religion,NaN,NaN,NaN,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0

In [13]:
c = df[n_heads].corr(method='spearman') * 100

In [14]:
families = []
for i, row in c.iterrows():
    r = row[row > 70]
    if len(r) > 1 and set(r.index) not in families:
        print(r)
        print("\n")
        
        families.append(set(r.index))

REGION_RATING_CLIENT           100.000000
REGION_RATING_CLIENT_W_CITY     95.004101
Name: REGION_RATING_CLIENT, dtype: float64


REG_REGION_NOT_WORK_REGION     100.000000
LIVE_REGION_NOT_WORK_REGION     86.062678
Name: REG_REGION_NOT_WORK_REGION, dtype: float64


REG_CITY_NOT_WORK_CITY     100.000000
LIVE_CITY_NOT_WORK_CITY     82.557472
Name: REG_CITY_NOT_WORK_CITY, dtype: float64

In [15]:
result = {
          "family":[],
          "head":[],
          "r2":[],
          "na":[],
          "rate":[]
         }

for i, family in enumerate(families):
    headers = list(family)
    
    result["family"].append("")
    result["head"].append("")
    result["r2"].append("")
    result["na"].append("")
    result["rate"].append("")
    
    for head in headers:
        d = df[["TARGET"] + [head]]
        na = d[head].isna().sum() / len(d) * 100
        d = d.dropna()
        x = d[[head]]
        y = d[["TARGET"]]
        model = LogisticRegression().fit(x, y.values.ravel())
        r2 = round(model.score(x,y),5)
        
        result["family"].append(i)
        result["head"].append(head)
        result["r2"].append(round(r2,5))
        result["na"].append(round(na,2))
        result["rate"].append(r2/na)

<ipython-input-15-5ac920cdb584>:31: RuntimeWarning: divide by zero encountered in double_scalars
  result["rate"].append(r2/na)
<ipython-input-15-5ac920cdb584>:31: RuntimeWarning: divide by zero encountered in double_scalars
  result["rate"].append(r2/na)
<ipython-input-15-5ac920cdb584>:31: RuntimeWarning: divide by zero encountered in double_scalars
  result["rate"].append(r2/na)
<ipython-input-15-5ac920cdb584>:31: RuntimeWarning: divide by zero encountered in double_scalars
  result["rate"].append(r2/na)
<ipython-input-15-5ac920cdb584>:31: RuntimeWarning: divide by zero encountered in double_scalars
  result["rate"].append(r2/na)
<ipython-input-15-5ac920cdb584>:31: RuntimeWarning: divide by zero encountered in double_scalars
  result["rate"].append(r2/na)

In [16]:
result = pd.DataFrame(result)
result

  family                         head       r2 na rate
0
1      0  REGION_RATING_CLIENT_W_CITY  0.91927  0  inf
2      0         REGION_RATING_CLIENT  0.91927  0  inf
3
4      1   REG_REGION_NOT_WORK_REGION  0.91927  0  inf
5      1  LIVE_REGION_NOT_WORK_REGION  0.91927  0  inf
6
7      2       REG_CITY_NOT_WORK_CITY  0.91927  0  inf
8      2      LIVE_CITY_NOT_WORK_CITY  0.91927  0  inf

In [17]:
des[des["Row"] == "LIVE_CITY_NOT_WORK_CITY"]

,Row,Description,Special
42,LIVE_CITY_NOT_WORK_CITY,"Flag if client's contact address does not match work address (1=different, 0=same, at city level)",NaN

In [18]:
keep = ["REGION_RATING_CLIENT", "REG_REGION_NOT_WORK_REGION", "REG_CITY_NOT_WORK_CITY"]

In [19]:
headers = list(result["head"])

In [20]:
remove = [head for head in headers if head not in keep]

In [21]:
n_heads = [head for head in n_heads if head not in remove]

In [22]:
n_heads

['TARGET',
 'NAME_CONTRACT_TYPE',
 'CODE_GENDER',
 'FLAG_OWN_CAR',
 'FLAG_OWN_REALTY',
 'NAME_TYPE_SUITE',
 'NAME_INCOME_TYPE',
 'NAME_EDUCATION_TYPE',
 'NAME_FAMILY_STATUS',
 'NAME_HOUSING_TYPE',
 'FLAG_MOBIL',
 'FLAG_EMP_PHONE',
 'FLAG_WORK_PHONE',
 'FLAG_CONT_MOBILE',
 'FLAG_PHONE',
 'FLAG_EMAIL',
 'OCCUPATION_TYPE',
 'REGION_RATING_CLIENT',
 'WEEKDAY_APPR_PROCESS_START',
 'REG_REGION_NOT_LIVE_REGION',
 'REG_REGION_NOT_WORK_REGION',
 'REG_CITY_NOT_LIVE_CITY',
 'REG_CITY_NOT_WORK_CITY',
 'ORGANIZATION_TYPE',
 'HOUSETYPE_MODE',
 'WALLSMATERIAL_MODE',
 'EMERGENCYSTATE_MODE',
 'FLAG_DOCUMENT_2',
 'FLAG_DOCUMENT_3',
 'FLAG_DOCUMENT_4',
 'FLAG_DOCUMENT_5',
 'FLAG_DOCUMENT_6',
 'FLAG_DOCUMENT_7',
 'FLAG_DOCUMENT_8',
 'FLAG_DOCUMENT_9',
 'FLAG_DOCUMENT_10',
 'FLAG_DOCUMENT_11',
 'FLAG_DOCUMENT_12',
 'FLAG_DOCUMENT_13',
 'FLAG_DOCUMENT_14',
 'FLAG_DOCUMENT_15',
 'FLAG_DOCUMENT_16',
 'FLAG_DOCUMENT_17',
 'FLAG_DOCUMENT_18',
 'FLAG_DOCUMENT_19',
 'FLAG_DOCUMENT_20',
 'FLAG_DOCUMENT_21']

In [24]:
result = {
    "head":[],
    "des":[]
}

for head in n_heads:
    result["head"].append(head)
    result["des"].append(des[des["Row"] == head]["Description"])
    
result = pd.DataFrame(result)
result

,head,des
0,TARGET,"2 Target variable (1 - client with payment difficulties: he/she had late payment more than X days on at least one of the first Y installments of the loan in our sample, 0 - all other cases) Name: Description, dtype: object"
1,NAME_CONTRACT_TYPE,"5 Identification if loan is cash or revolving Name: Description, dtype: object"
2,CODE_GENDER,"6 Gender of the client Name: Description, dtype: object"
3,FLAG_OWN_CAR,"7 Flag if the client owns a car Name: Description, dtype: object"
4,FLAG_OWN_REALTY,"8 Flag if client owns a house or flat Name: Description, dtype: object"
5,NAME_TYPE_SUITE,"14 Who was accompanying client when he was applying for the loan Name: Description, dtype: object"
6,NAME_INCOME_TYPE,"15 Clients income type (businessman, working, maternity leave, ) Name: Description, dtype: object"
7,NAME_EDUCATION_TYPE,"16 Level of highest education the client achieved Name: Description, dtype: object"
8,NAME_FAMILY_STATUS,"17 Family status of the client Name: Description, dtype: object"
9,NAME_HOUSING_TYPE,"18 What is the housing situation of the client (renting, living with parents, ...) Name: Description, dtype: object"
10,FLAG_MOBIL,"25 Did client provide mobile phone (1=YES, 0=NO) Name: Description, dtype: object"
11,FLAG_EMP_PHONE,"26 Did client provide work phone (1=YES, 0=NO) Name: Description, dtype: object"
12,FLAG_WORK_PHONE,"27 Did client provide home phone (1=YES, 0=NO) Name: Description, dtype: object"
13,FLAG_CONT_MOBILE,"28 Was mobile phone reachable (1=YES, 0=NO) Name: Description, dtype: object"
14,FLAG_PHONE,"29 Did client provide home phone (1=YES, 0=NO) Name: Description, dtype: object"
15,FLAG_EMAIL,"30 Did client provide email (1=YES, 0=NO) Name: Description, dtype: object"
16,OCCUPATION_TYPE,"31 What kind of occupation does the client have Name: Description, dtype: object"
17,REGION_RATING_CLIENT,"33 Our rating of the region where client lives (1,2,3) Name: Description, dtype: object"
18,WEEKDAY_APPR_PROCESS_START,"35 On which day of the week did the client apply for the loan Name: Description, dtype: object"
19,REG_REGION_NOT_LIVE_REGION,"37 Flag if client's permanent address does not match contact address (1=different, 0=same, at region level) Name: Description, dtype: object"
20,REG_REGION_NOT_WORK_REGION,"38 Flag if client's permanent address does not match work address (1=different, 0=same, at region level) Name: Description, dtype: object"
21,REG_CITY_NOT_LIVE_CITY,"40 Flag if client's permanent address does not match contact address (1=different, 0=same, at city level) Name: Description, dtype: object"
22,REG_CITY_NOT_WORK_CITY,"41 Flag if client's permanent address does not match work address (1=different, 0=same, at city level) Name: Description, dtype: object"
23,ORGANIZATION_TYPE,"43 Type of organization where client works Name: Description, dtype: object"
24,HOUSETYPE_MODE,"90 Normalized information about building where the client lives, What is average (_AVG suffix), modus (_MODE suffix), median (_MEDI suffix) apartment size, common area, living area, age of building, number of elevators, number of entrances, state of the building, number of floor Name: Description, dtype: object"
25,WALLSMATERIAL_MODE,"92 Normalized information about building where the client lives, What is average (_AVG suffix), modus (_MODE suffix), median (_MEDI suffix) apartment size, common area, living area, age of building, number of elevators, number of entrances, state of the building, number of floor Name: Description, dtype: object"
26,EMERGENCYSTATE_MODE,"93 Normalized information about building where the client lives, What is average (_AVG suffix), modus (_MODE suffix), median (_MEDI suffix) apartment size, common area, living area, age of building, number of elevators, number of entrances, state of the building, number of floor Name: Description, dtype: object"
27,FLAG_DOCUMENT_2,"99 Did client provide document 2 Name: Description, dtype: object"
28,FLAG_DOCUMENT_3,"100 Did client provide document 3 Name: Description, dtype: object"
29,FLAG_DOCUMENT_4,"101 Did client provide document 4 Name: Description, dtype: object"
30,FLAG_DOCUMENT_5,"102 Did client provide document 5 Name: Description, dtype: object"
31,FLAG_DOCUMENT_6,"103 Did client provide document 6 Name: Description, dtype: object"
32,FLAG_DOCUMENT_7,"104 Did client provide document 7 Name: Description, dtype: object"
33,FLAG_DOCUMENT_8,"105 Did client provide document 8 Name: Description, dtype: object"
34,FLAG_DOCUMENT_9,"106 Did client provide document 9 Name: Description, dtype: object"
35,FLAG_DOCUMENT_10,"107 Did client provide document 10 Name: Description, dtype: object"
36,FLAG_DOCUMENT_11,"108 Did client provide document 11 Name: Description, dtype: object"
37,FLAG_DOCUMENT_12,"109 Did client provide document 12 Name: Description, dtype: object"
38,FLAG_DOCUMENT_13,"110 Did client provide document 13 Name: Description, dtype: object"
39,FLAG_DOCUMENT_14,"111 Did client provide document 14 Name: Description, dtype: object"
40,FLAG_DOCUMENT_15,"112 Did client provide document 15 Name: Description, dtype: object"
41,FLAG_DOCUMENT_16,"113 Did client provide document 16 Name: Description, dtype: object"
42,FLAG_DOCUMENT_17,"114 Did client provide document 17 Name: Description, dtype: object"
43,FLAG_DOCUMENT_18,"115 Did client provide document 18 Name: Description, dtype: object"
44,FLAG_DOCUMENT_19,"116 Did client provide document 19 Name: Description, dtype: object"
45,FLAG_DOCUMENT_20,"117 Did client provide document 20 Name: Description, dtype: object"
46,FLAG_DOCUMENT_21,"118 Did client provide document 21 Name: Description, dtype: object"

In [25]:
remove = ["NAME_TYPE_SUITE","FLAG_MOBIL", "FLAG_EMP_PHONE", "FLAG_WORK_PHONE", "FLAG_CONT_MOBILE", "FLAG_PHONE", "WEEKDAY_APPR_PROCESS_START"]

In [26]:
n_heads = [head for head in n_heads if head not in remove]

In [27]:
n_heads

['TARGET',
 'NAME_CONTRACT_TYPE',
 'CODE_GENDER',
 'FLAG_OWN_CAR',
 'FLAG_OWN_REALTY',
 'NAME_INCOME_TYPE',
 'NAME_EDUCATION_TYPE',
 'NAME_FAMILY_STATUS',
 'NAME_HOUSING_TYPE',
 'FLAG_EMAIL',
 'OCCUPATION_TYPE',
 'REGION_RATING_CLIENT',
 'REG_REGION_NOT_LIVE_REGION',
 'REG_REGION_NOT_WORK_REGION',
 'REG_CITY_NOT_LIVE_CITY',
 'REG_CITY_NOT_WORK_CITY',
 'ORGANIZATION_TYPE',
 'HOUSETYPE_MODE',
 'WALLSMATERIAL_MODE',
 'EMERGENCYSTATE_MODE',
 'FLAG_DOCUMENT_2',
 'FLAG_DOCUMENT_3',
 'FLAG_DOCUMENT_4',
 'FLAG_DOCUMENT_5',
 'FLAG_DOCUMENT_6',
 'FLAG_DOCUMENT_7',
 'FLAG_DOCUMENT_8',
 'FLAG_DOCUMENT_9',
 'FLAG_DOCUMENT_10',
 'FLAG_DOCUMENT_11',
 'FLAG_DOCUMENT_12',
 'FLAG_DOCUMENT_13',
 'FLAG_DOCUMENT_14',
 'FLAG_DOCUMENT_15',
 'FLAG_DOCUMENT_16',
 'FLAG_DOCUMENT_17',
 'FLAG_DOCUMENT_18',
 'FLAG_DOCUMENT_19',
 'FLAG_DOCUMENT_20',
 'FLAG_DOCUMENT_21']

In [29]:
payback = df[df["TARGET"] == 0]
default = df[df["TARGET"] == 1]

In [39]:
rates

[3.328785762023827,
 9.525085708703493,
 3.7999586886261483,
 1.0403878136391853,
 nan,
 8.91551596051342,
 4.415790577625295,
 3.3141167687477804,
 0.14930199260512023,
 5.851181786277731,
 6.416818367443502,
 0.24997204382340055,
 0.5594066454968498,
 4.374759980326547,
 7.8830817156316755,
 6.486497863157753,
 0.6586645302430014,
 4.264077335287148,
 0.569415995135472,
 0.012929045018651664,
 7.386514285251781,
 0.008843734744559129,
 0.014142964727255958,
 2.9752321919440057,
 0.007725373682793843,
 0.8069704575227883,
 0.0995277078716022,
 0.0024762457284761186,
 0.09691450804906765,
 0.0007074987795646052,
 0.2520059353803959,
 0.18797729582979916,
 0.08339335851302253,
 0.42270487128728007,
 0.02024355641924558,
 0.262137032909294,
 0.012152777072714116,
 0.0017804032228667666,
 0.024911067652780616]

In [55]:
rates = []
heads = []
for head in n_heads:
    if head in skip:
        continue

    pays = payback[head].value_counts()
    defs = default[head].value_counts()

    pays = pays/pays.sum()*100
    defs = defs/defs.sum()*100
    diff = abs(pays-defs)
    d1 = max(diff.sort_values(ascending=False))
    try:
        diff = abs(pays[[i for i in pays.index if i not in defs.index]])
        d2 = max(diff.sort_values(ascending=False))
    except ValueError:
        d2 = 0
    try:
        diff = abs(defs[[i for i in defs.index if i not in pays.index]])
        d3 = max(diff.sort_values(ascending=False))
    except ValueError:
        d3 = 0
    rates.append(max([d1,d2,d3]))
    heads.append(head)
    
    result = {
          "Cats":heads,
          "Rate":rates
         }
result = pd.DataFrame(result).sort_values("Rate", ascending=False)
result

                          Cats       Rate
4             NAME_INCOME_TYPE  10.544552
1                  CODE_GENDER   9.525086
5          NAME_EDUCATION_TYPE   8.915516
14      REG_CITY_NOT_WORK_CITY   7.883082
20             FLAG_DOCUMENT_3   7.386514
15           ORGANIZATION_TYPE   6.486498
10        REGION_RATING_CLIENT   6.416818
9              OCCUPATION_TYPE   5.851182
6           NAME_FAMILY_STATUS   4.415791
13      REG_CITY_NOT_LIVE_CITY   4.374760
17          WALLSMATERIAL_MODE   4.264077
2                 FLAG_OWN_CAR   3.799959
0           NAME_CONTRACT_TYPE   3.328786
7            NAME_HOUSING_TYPE   3.314117
23             FLAG_DOCUMENT_6   2.975232
3              FLAG_OWN_REALTY   1.040388
25             FLAG_DOCUMENT_8   0.806970
16              HOUSETYPE_MODE   0.658665
18         EMERGENCYSTATE_MODE   0.569416
12  REG_REGION_NOT_WORK_REGION   0.559407
33            FLAG_DOCUMENT_16   0.422705
35            FLAG_DOCUMENT_18   0.262137
30            FLAG_DOCUMENT_13   0.252006
11  REG_REGION_NOT_LIVE_REGION   0.249972
31            FLAG_DOCUMENT_14   0.187977
8                   FLAG_EMAIL   0.149302
26             FLAG_DOCUMENT_9   0.099528
28            FLAG_DOCUMENT_11   0.096915
32            FLAG_DOCUMENT_15   0.083393
38            FLAG_DOCUMENT_21   0.024911
34            FLAG_DOCUMENT_17   0.020244
22             FLAG_DOCUMENT_5   0.014143
19             FLAG_DOCUMENT_2   0.012929
36            FLAG_DOCUMENT_19   0.012153
21             FLAG_DOCUMENT_4   0.008844
24             FLAG_DOCUMENT_7   0.007725
27            FLAG_DOCUMENT_10   0.002476
37            FLAG_DOCUMENT_20   0.001780
29            FLAG_DOCUMENT_12   0.000707

In [56]:
n_heads = result[result["Rate"] >= 5].Cats.values

In [57]:
df = df[n_heads]

In [58]:
df.head()

,NAME_INCOME_TYPE,CODE_GENDER,NAME_EDUCATION_TYPE,REG_CITY_NOT_WORK_CITY,FLAG_DOCUMENT_3,ORGANIZATION_TYPE,REGION_RATING_CLIENT,OCCUPATION_TYPE
SK_ID_CURR,,,,,,,,
100002,Working,M,Secondary / secondary special,0,1,Business Entity Type 3,2,Laborers
100003,State servant,F,Higher education,0,1,School,1,Core staff
100004,Working,M,Secondary / secondary special,0,0,Government,2,Laborers
100006,Working,F,Secondary / secondary special,0,1,Business Entity Type 3,2,Laborers
100007,Working,M,Secondary / secondary special,1,0,Religion,2,Core staff

In [59]:
# transformiert kategorische variablen in integer
for head in n_heads:
    df[head], cats = pd.factorize(df[head])

<ipython-input-59-a96db17cbce1>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[head], cats = pd.factorize(df[head])

In [62]:
df = df[n_heads]

In [63]:
df.head()

,NAME_INCOME_TYPE,CODE_GENDER,NAME_EDUCATION_TYPE,REG_CITY_NOT_WORK_CITY,FLAG_DOCUMENT_3,ORGANIZATION_TYPE,REGION_RATING_CLIENT,OCCUPATION_TYPE
SK_ID_CURR,,,,,,,,
100002,0,0,0,0,0,0,0,0
100003,1,1,1,0,0,1,1,1
100004,0,0,0,0,1,2,0,0
100006,0,1,0,0,0,0,0,0
100007,0,0,0,1,1,3,0,1

In [64]:
df.to_csv(DATASET_DIR / "Datenaufbereitung" / "app_train_cats.csv")